body{
  background-color: black;
  font-family: arial;
  color: white;
}

h1{
  color: grey;
  font-family: verdana;
}

footer{
  padding-top: 10px;
}

th, td {
  padding-bottom: 10px;
  vertical-align: center;
}

.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

.tablediv {
  width: max-content;
  margin: auto;
}
